.Product-tech-detail-container{
    width: 100%;
    display: grid;
    gap: 8px;
}

@media screen and (max-width: 768px){
    .Product-container-max-768{
        margin-top: 20px;
        display: block;
    }
    .Product-img-slider-max-768{
        width: 100%;
        height: 250px;
    }
    .Product-detail-container-max-768{
        width: 100%;
        margin-top: 20px;
    }
    .Product-tech-detail-container-max-768{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .Product-container-min-768{
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .Product-img-slider-min-768{
        width: 58.5%;
        height: auto;
    }
    .Product-detail-container-min-768{
        width: 40%;
    }
    .Product-tech-detail-container-min-768{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1280px) {
    .Product-tech-detail-container-min-1280{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}