.Usage-container{
    display: grid;
    grid-template-rows: auto;
}

@media screen and (max-width: 768px){
   .Usage-container-max-768 {
        margin-top: 20px;
        grid-template-columns: 1fr;
        gap: 16px;
   } 
}

@media screen and (min-width: 768px) {
   .Usage-container-min-768 {
        margin-top: 40px;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
   } 
}

@media screen and (min-width: 1024px) {
    .Usage-container-min-1024 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1280px) {
    .Usage-container-min-1280 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}