.NavBar-container {
    width: 100%;
    height: min-content;
    padding: 8px 16px;
    background-color: #fff;
    font-family: Dana-medium;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.NavBar-right{
    display: flex;
    align-items: center;
}

.NavBar-img-container{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 16px;
}

.NavBar-img-container img{
    width: 100%;
    height: 100%;
    scale: 2;
}

.NavBar-menu{
    display: flex;
    align-items: center;
}

.NavBar-list-item {
    margin-left: 16px;
}

.NavBar-links{
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.NavBar-links:hover{
    color: #706D54;
}

.NavBar-signup{
    display: flex;
    align-items: flex-start;
}

.NavBar-login-icon{
    margin-right: 8px;
}