.NavBar-container {
    width: 100%;
    height: min-content;
    padding: 8px 16px;
    background-color: #fff;
    font-family: morabba-medium;
    display: flex;
    align-items:center;
    justify-content: space-between;
    /* border-bottom: 1px solid #000; */
}

.NavBar-right{
    display: flex;
    align-items: center;
}

.NavBar-img-container{
    border-radius: 100%;
    overflow: hidden;
}

.NavBar-img-container img{
    width: 100%;
    height: 100%;
    scale: 2;
}

.NavBar-menu{
    display: flex;
    align-items: center;
}

.NavBar-links{
    color: #000;
    letter-spacing: -0.025em;
    word-spacing: -0.1em;
    transition: all 0.2s ease;
}

.NavBar-links:hover{
    color: #706D54;
}

.NavBar-signup-container{
    display: flex;
    align-items: flex-start;
}

.NavBar-login-icon{
    margin-right: 2px;
}

.NavBar-logout-container{
    position: relative;
}

.NavBar-user-icon{
    cursor: pointer;
    transition: all 0.2s ease;
}

.NavBar-logout{
    display: flex;
    align-items: center;
    height: min-content;
    padding: 8px;
    box-shadow: 0px 0px 5px 0px #dedede;
    border-radius: 5px;
    cursor: pointer;
    color: #820000;
    position: absolute;
    display: none;
    transition: all 0.2s ease;
}

.NavBar-logout:hover{
    color: #570000;
}

.NavBar-logout-icon{
    margin-left: 2px;
}

.NavBar-logout-container:hover > .NavBar-logout{
    display: flex;
}

.NavBar-logout-container:hover > .NavBar-user-icon{
    color: #706D54;
}

.NavBar-sm-container{
    width: 100%;
    height: min-content;
    padding: 8px 16px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: morabba-medium;
    position: relative;
}

.NavBar-sm-img-container{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
}

.NavBar-sm-img-container img{
    width: 100%;
    height: 100%;
    scale: 2;
}

.NavBar-sm-menu-icon{
    font-size: 30px !important;
    cursor: pointer;
    transition: all 0.2s ease;
}

.NavBar-sm-menu-icon:hover{
    color: #706D54;
}

.NavBar-side-container{
    width: 300px;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    z-index: 10;
    transform: translateX(-300px);
    transition: transform 0.3s ease;
}

.NavBar-side-logo-container{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #efefef;
    padding-bottom: 8px;
}

.NavBar-side-img-container{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
}

.NavBar-side-img-container img{
    width: 100%;
    height: 100%;
    scale: 2;
}

.NavBar-side-menu-container{
    padding: 8px 0px;
    border-bottom: 1px solid #efefef;
}

.NavBar-side-list-item , 
.NavBar-side-login-container{
    width: 100%;
    height: min-content;
    padding: 14px 0px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.NavBar-side-list-item:hover,
.NavBar-side-login-container:hover{
    background-color: #fffdf7;
}

.NavBar-side-links{
    display: flex;
    align-items: center;
    color: #000;
    transition: all 0.2s ease;
}

.NavBar-side-list-item:hover .NavBar-side-links,
.NavBar-side-login-container:hover .NavBar-side-links{
    color: #706D54;
}

.NavBar-side-icon{
    font-size: 20px !important;
    margin-left: 3px;
}

.NavBar-side-links span{
    font-size: 16px;
    letter-spacing: -0.025em;
    word-spacing: -0.1em;
}

.NavBar-side-logout-container{
    width: 100%;
    height: min-content;
    margin-top: 8px;
    padding: 14px 0px;
    border-radius: 5px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    color: #820000;
    cursor: pointer;
}

.NavBar-side-logout-container:hover{
    color: #570000;
    background-color: #fffbfb;
}

.NavBar-side-logout-container span{
    font-size: 16px;
    letter-spacing: -0.025em;
    word-spacing: -0.1em;
}

.NavBar-side-login-container{
    margin-top: 8px;
}

.overLay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    display: none;
}

@media screen and (max-width: 768px){
    .NavBar-container-max-768{
        display: none;
    }
    .NavBar-sm-container-max-768{
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .NavBar-img-container-min-768{
        width: 95px;
        height: 95px;
        margin-left: 8px;
    }
    .NavBar-links-min-768{
        font-size: 16px;
    }
    .NavBar-login-icon-min-768{
        font-size: 21px !important;
    }
    .NavBar-list-item-min-768{
        margin-left: 8px;
    }
    .NavBar-user-icon-min-768{
        font-size: 30px !important;
    }
    .NavBar-logout-icon-min-768{
        font-size: 14px !important;
    }
    .NavBar-logout-min-768{
        font-size: 14px;
        width: 90px;
        top: 35px;
        left: 0px;
    }
    .NavBar-container-min-768{
        display: flex;
    }
    .NavBar-sm-container-min-768{
        display: none;
    }   
}

@media screen and (min-width: 1024px) {
    .NavBar-img-container-min-1024{
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }
    .NavBar-links-min-1024{
        font-size: 18px;
    }
    .NavBar-login-icon-min-1024{
        font-size: 24px !important;
    }
    .NavBar-list-item-min-1024{
        margin-left: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .NavBar-img-container-min-1280{
        width: 110px;
        height: 110px;
        margin-left: 12px;
    }
    .NavBar-links-min-1280{
        font-size: 20px;
    }
    .NavBar-login-icon-min-1280{
        font-size: 27px !important;
    }
    .NavBar-list-item-min-1280 {
        margin-left: 12px;
    }
    .NavBar-user-icon-min-1280{
        font-size: 40px !important;
    }
    .NavBar-logout-icon-min-1280{
        font-size: 18px !important;
    }
    .NavBar-logout-min-1280{
        font-size: 18px;
        width: 110px;
        top: 40px;
        left: 0px;
    }
}

@media screen and (min-width: 1920px) {
    .NavBar-img-container-min-1920{
        width: 120px;
        height: 120px;
        margin-left: 16px;
    }
    .NavBar-links-min-1920{
        font-size: 24px;
    }
    .NavBar-login-icon-min-1920{
        font-size: 30px !important;
    }
    .NavBar-list-item-min-1920{
        margin-left: 16px;
    }
}